<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Courier;
        margin-left: 40px;
        margin-right: 40px;
      }

      pre {
          padding: 16px;
          overflow: auto;
          font-size: 95%;
          line-height: 1.45;
          background-color: #f6f8fa;
          border-radius: 3px;
      }
    </style>
    <title>Shorty: A URL Shortener</title>
  </head>
  <body><%= yield %></body>
</html>
